*
{
box-sizing: border-box; 
font-family: 'Poppins', Helvetica, Arial, sans-serif;
}

.img-cont 
{
    position: relative; 
    display: flex; 
    justify-content: center; 
}

.item-caption 
{
    position: absolute; 
    width: 90%; 
    height: 25%; 
    background-color: rgba(125,125,0,0.5); 
    bottom: 5%;
    padding: 5px;
}
.five-div
{
    width: 100%;
    height: 100%;
}

.three-div
{
    height: 450px;
    width:35%;
  

}
.large
{
    height:450px;
    width: 60%;
    
}
.img-mine
{
    height: 80%;
    width: 100%;
}

.me
{
   
    height: 30%;
    width: 100%;
}
.des
{
    width: 65%;
    
    height: 100%;
    margin-left: 15px;
  
}

.image
{
    width: 30%;
    height: 100%;
}

.artical
{
   height: 15%;
    width: 100%;
}














































