
body
{
direction: rtl !important;
}
#navbar-div
{
    position: fixed;
}
#main-icon
{
    text-decoration: none;
    color: #c4421A;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 50px;
}
.navbar-btn
{
    font-family: 'Almarai', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
    color: #007bff;
    background-color: rgb(183, 214, 255);
    border-radius: 10px;
}
/*start cr */


/* end cr*/
/*start about */

.row { 
    width: 80%;
}
.about {padding:5px ;

background-color: aliceblue;} 
.row .container img { 

    width: 75%;
}
.about-text {margin-top: 50px;
    font-family: 'Almarai', sans-serif;
}/*end  about */


.main-icon-text
{
    font-family: 'Almarai', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:black;
}
.navbar-mine
{
    background-color: #16594A;
}
.nav-ul li{
    box-sizing: border-box;
    margin: 0px 10px;
}
.nav-ul a
{
    border-bottom: solid transparent;
    font-family: 'Almarai', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white !important;
    transition: 1s;
}
.nav-ul a:hover
{
    color: yellow !important;
    border-bottom: yellow solid;    

}
.galary {
    width: 75%;
}
.footer{
    height: 150px;
}
.footer ul
{
    list-style: none;
}
.footer ul li a
{
    text-decoration: none;
    font-family: 'Almarai', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.conntact {

background-image:url(world-1185076_1280.png)

} 


.artical {
	padding-bottom: 40px;
	text-align: center;
	padding-top: 20px
}

.section-news {
	text-align: center;
	padding: 30px;
	background-color: rgba(236, 240, 241, 1);

}

.section-news h10 {
	font-size: 2em
}

.section-news p {
	font-size: 1.5rem
}

.layer-2 {
	padding: 15;
	background-color: white;
}

.layer-2 img {
    width: 100%; 
    
}

.layer-2 h9 {
	padding-bottom: 10px
}


.btn-primary {
	color: #fff;
	background-color: black;
	border-color: bisque;
}

.btn-cont {
	padding-top: 35px
}
